.center {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid black;
    padding: 10px;
}

.main-page-div {
	overflow: hidden;
	display:inline-block;
	height:2%;
	width:100%;
}
.img1 {
	float:center;
    max-width: 70%;
	max-height: 10%;
    object-fit: contain;
}

.center2 {
    margin: auto;	
    width: 90%;	
    padding: 10px;
}
.text-center-my {
	text-align: center;
}

.error {
	background-color: red;
	color: white;
}
#pageheader {
	background-color:#ff7ae2;
}
textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
#rcorners1 {
    border-radius: 25px;
    background: #b8e8f9;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-bottom:1em;
}

.rcorners-activity {
    border-radius: 3px;
    background: #e2e2e2;
    padding: 10px;
    margin-bottom:1em;

}

#commentsId {
    border-radius: 25px;
    background: #4fd1cc;
    padding: 20px;
    width: 60%;
    height: auto;
    margin-bottom:1em;
    float:right;
}
#addComment {
    border-radius: 25px;
    background: #65acd8;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-bottom:1em;
}

table.ex1 {
    table-layout: auto;
}
table.ex2 {
    table-layout: auto;
    width:60%;
}
ul {
  list-style-type: none;
}

#button-panel {
	display:inline-block;
 	float:left;
}

hr.style1{
	border-top: 2px solid #8c8b8b;
}

/*  hover muthafucka navigation bar--> */
/* .navbar1 {
  	overflow:hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar1 a {
    font-size: 16px;
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: visible;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar1 a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 */
















.navbar1 {
	overflow:hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn1 {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar1 a:hover, .dropdown1:hover .dropbtn1 {
    background-color: red;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}
